
<html> 
<h1>I am so tired. Hi Jon. Like my cool website. </h1>
</html>
<!--

<html><head>
    <title>My Sexy Slideshow</title>
		<script type="text/javascript" src="jquery-1.2.6.min.js"></script>
		<script type="text/javascript" src="jquery.cycle.lite.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
  	    $('#slideshow_images').cycle({ 
  	      fx:    'fade', 
  	      speed:  1500 
  	    });
      });
    </script>
  </head>
  <body>
    
    <div id="slideshow_images" style="position: relative;">
      <img src="slide-1.jpg" border="0" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0;">
      <img src="slide-2.jpg" border="0" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 0.9870275120854054;">
      <img src="slide-3.jpg" border="0" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 0.012736563606711437;">
      <img src="slide-4.jpg" border="0" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2; opacity: 0;">
      <img src="slide-5.jpg" border="0" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1; opacity: 0;">
    </div>
    
  
</body></html>

-->